h1 {
  color: blueviolet;
  font-size: large;
  background-color: black;
}
h2 {
  color: blueviolet;
  font-size: large;
  background-color: black;
}
p {
  color: aliceblue;
  background-color: black;
}
